* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /*Change*/

.container {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.flex {display: flex;}
.flex-d-c {flex-direction: column;}
/*
 Header
*/
.header {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-image: url(slide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-blend-mode: multiply;
  background-color:white;
  padding-bottom: 30px;
}
.header_top {
  background-color: white;
  justify-content: space-around;
}
.logo {
  margin-left: 100px;
  margin-right: 40px;
  height: 100px;
  width: 90px;
}
.nav {
  flex-wrap: wrap;
}
.nav a{
  text-decoration: none;
  color: #7f7f7f;
  padding: 10px; 
}
.nav a:hover{
  background-color: rgb(66, 171, 241);
  color: white;
  padding: 10px;
  border-radius: 4px;
}  
.header h1, p {
  color: white;
}
.header h1 {
  font-size: 50px;
  font-family: monospace;
  padding: 30px;
}
.header p {
  font-size: 20px;
  padding: 30px;
}
/*
burger
*/
.burger {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.text-top {
  line-height: 40px;
  text-align: center;
  margin-bottom: 100px;
  color: white;
}

.button-schedule {
  font-size: 16px;
  background-color: grey;
  padding: 0.5em 1em;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  color:white;
  font-weight: bold;
}
.button-schedule:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(66, 171, 241);
}
/*Main*/
.title {
  text-align: center;
  font-size: 30px;
  margin: 40px auto 20px;
  color: #888;
  
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: black; 
    width: 200px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 45px;
  }
  .speaker {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    position: relative;
    
  }
  .speaker img {
    width: 200px;
    height: 195px;
    object-fit: cover;
    display: block;
  }
  .speaker:hover .overlay {
    opacity: 1;
  }
  .speaker p {
    color: rgb(66, 171, 241);
    font-size: 15px;
    margin: 15px auto 10px;
    text-align: center;
    font-weight: bold;
  }

  .speakers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Shedule */

#schedule {
  background-color: grey;;
}

.main-title {
    text-align: center;
    font-size: 30px;
    margin: 40px auto 20px;
}

.schedule-wrapper { margin-top: 30px;}

.schedule-slot {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: baseline;
}

.schedule-slot time {
  flex-basis: 70px;
}
.schedule-slot h2 {
  font-size: 20px;
  flex-basis: calc(100% - 70px);
  margin-bottom: 10px;
  color: rgb(66, 171, 241);
}
.schedule-slot h4 {
  flex-basis: 100%;
  padding-left: 70px;
}

.schedule-slot p {
  font-size: 20px;
  flex-basis: calc(100% - 70px);
  margin-bottom: 5px;
  font-weight: bold;
}
/*Partners*/

.partner-wrapper img {
  height: 200px;
  width: 190px;
}

.partner-wrapper  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Tickets*/
.box-1 {
  margin-top: 20px;
  padding-top: 80px;
  height: 300px;
  width: 300px;
  background-color: rgb(167, 164, 164);
  border-radius: 10px;;
  text-align: center;
}
.box-1:hover {
  background-color: rgb(66, 171, 241);
  color: white;
}

.box-2 {
  padding-top: 80px;
  margin-top: 20px;
  height: 300px;
  width: 300px;
  background-color: rgb(167, 164, 164);
  border-radius: 10px;
  text-align: center;
}
.box-2:hover {
  background-color: rgb(66, 171, 241);
  color: white;
}

.box-1 h2,
.box-2 h2 {
  color: white;
}

.buytickets-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buytickets-wrapper button {
  font-size: 16px;
  background-color: white;
  padding: 0.5em 1em;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  color:rgb(66, 171, 241);
  font-weight: bold;
  
}

/*Main*/
@media(max-width: 759px) {
  .nav {
  display: none;
  }}


@media(min-width: 760px) {
  .burger {
    display: none;
  }
}
 